<div id="main" style="padding-top: 0px; padding-bottom: 0px; margin-bottom:40px;">
    <div class="v7-menu-wrap">
        <nav class="v7-nav-top" itemscope="" itemtype="http://schema.org/Airline">
            <ul class="v7-nav-top__list">
                <li class="v7-nav-top__item">
                    <a href="/es/tu-reserva/check-in-online/" class=" v7-nav-top__link || v7-link">
                        <span itemprop="name department hasOfferCatalog ">Check-in online</span>
                    </a>
                </li>
                <li class="v7-nav-top__item">
                    <a href="/es/estado-de-tu-vuelo/" class=" v7-nav-top__link || v7-link">
                        <span itemprop="name department hasOfferCatalog ">Estado de tu vuelo</span>
                    </a>
                </li>
                <li class="v7-nav-top__item">
                    <a href="/es/agencias/" class=" v7-nav-top__link || v7-link">
                        <span itemprop="name department hasOfferCatalog ">Agencias de viajes</span>
                    </a>
                </li>
                <li class="v7-nav-top__item">
                    <a href="https://groups.volotea.com/index.php" class=" v7-nav-top__link || v7-link" target="&quot;_blank&quot;">
                        <span itemprop="name department hasOfferCatalog ">Grupos</span>
                    </a>
                </li>
            </ul>
            <!-----------------------Top left menu Widget End------------------>
            <ul class="v7-nav-top__list v7-nav-top__list--right">
                <li class="v7-nav-top__item">
                    <a href="/es/informacion/" class=" v7-nav-top__link v7-nav-top__link--state || v7-link">
                        Información antes de viajar
                        <i class="v7-i-svg v7-i-svg--xxs v7-i--vmiddle || v7-u-color-brand test">
                            <svg class="v7-i-svg__src">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-notification"></use>
                            </svg>
                        </i>
                    </a>
                </li>

                <li class="v7-nav-top__item">
                    <span class="v7-nav-top__link v7-nav-top__link--help || v7-link">
                        Ayuda
                        <i class="v7-nav-top__arrow v7-i-svg v7-i-svg--xxxs">
                            <svg class="v7-i-svg__src">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-down-arrow"></use>
                            </svg>
                        </i>
                        <div class="v7-menu-layer v7-menu-layer--help" id="js-menu-layer-help">
                            <div class="v7-menu-layer__header">
                                <i class="v7-i v7-i--xxxs v7-i--prev-arrow || v7-u-color-dark-60"></i>
                                <h2 class="v7-main-title">
                                    Ayuda
                                </h2>
                            </div>
                            <div class="v7-menu-layer__item v7-menu-layer__item--border-r v7-menu-layer__item--75" itemscope="" itemtype="http://schema.org/Service">
                                <script>
                                    var umbracoVarHelpSearcher = {
                                        placeHolder: '&#191;En qu&#233; podemos ayudarte?',
                                        resultsIconClass: 'v7-i--chat',
                                        helpMenuMode: 'False',
                                        customerCareURL: '/es/contacto/',
                                        showAllFAQSLabel: 'ver todos los resultados de',
                                        showFewFAQSLabel: 'ver menos resultados de',
                                        showAllFAQS: 'False',
                                        faqsResultsHeight: '0px',
                                        autoCompleteEndpointURL: '/api/v1/customercare/autocomplete?culture=',
                                        faqEndpointURL: '/api/v1/customercare/FAQ?faqId={faqId}&amp;culture={culture}',
                                        currentCulture: 'es-ES',
                                    }
                                    document.addEventListener('DOMContentLoaded',
                                        function () {
                                            if (typeof customerCare !== 'undefined') { customerCare.init(umbracoVarHelpSearcher); }
                                        },
                                        false);
                                </script>
                                <div class="v7-help-search">
                                    <div class="container">
                                        <div class="row">
                                            <div [class]="False ? '' : (!isCategoryClicked ? 'col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3' : 'col-xs-12')">
                                                <div class="v7-help-search">
                                                    <div class="v7-help-search__input || v7-input-text v7-input-text--xl v7-input-text--light v7-input-text--outer | v7-is-loading">
                                                        <input id="input-text--2-1b-cs" type="text" placeholder="¿En qué podemos ayudarte?" class="v7-input-text__input || v7-js-help-search-input">
                                                        <label for="input-text--2-1b-cs" class="v7-input-text__label">
                                                            <i class="v7-i-svg v7-i-svg--xxs">
                                                                <svg class="v7-i-svg__src">
                                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-search"></use>
                                                                </svg>
                                                            </i>
                                                        </label>
                                                    </div>
                                                    <div class="v7-help-search__results || v7-box v7-box--help-results">
                                                        <div id="searcher-results-display-cs" style="overflow-y:auto"></div>
                                                        <div id="div_faq_footer" style="display:none" class="v7-box__inner || v7-flex">
                                                            <a id="a_footer_link" class="v7-link v7-link--sm || v7-flex__right"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="v7-menu-layer__stitle">
                                    <h3 class="v7-strapline-title v7-strapline-title--sm">
                                        LO MÁS BUSCADO
                                    </h3>
                                </div>
                                <ul class="v7-menu-layer__list v7-menu-layer__list--suggest || row row--flex">

                                    <li class="v7-menu-layer__litem v7-menu-layer__litem--atop || col-md-6">
                                        <a href="/es/equipaje/" title="Información de equipajes" class=" v7-menu-layer__llink">
                                            <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light-brand v7-flex v7-i-svg v7-i-svg--xs v7-u-color-brand">
                                                <svg class="v7-i-svg__src">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-suitcase"></use>
                                                </svg>
                                            </i>

                                            <div>
                                                <h4 class="v7-sub-title v7-sub-title--sm">
                                                    <strong> Información de equipajes </strong>
                                                </h4>
                                                <p class="v7-menu-layer__p">
                                                    Cuantas piezas de mano puedes llevar, cómo añadir una maleta...
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="v7-menu-layer__litem v7-menu-layer__litem--atop || col-md-6">
                                        <a href="/es/tu-reserva/embarque-prioritario/" title="Embarque Prioritario" class=" v7-menu-layer__llink">
                                            <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light-brand v7-flex v7-i-svg v7-i-svg--xs v7-u-color-brand">
                                                <svg class="v7-i-svg__src">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-passengers"></use>
                                                </svg>
                                            </i>

                                            <div>
                                                <h4 class="v7-sub-title v7-sub-title--sm">
                                                    <strong> Embarque Prioritario </strong>
                                                </h4>
                                                <p class="v7-menu-layer__p">
                                                    Todo lo que tienes que saber sobre el servicio de Embarque Prioritario
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="v7-menu-layer__litem v7-menu-layer__litem--atop || col-md-6">
                                        <a href="/es/contacto/#como-puedo-realizar-el-checkin-on-line--189" title="Check-in y Tarjetas de embarque" class=" v7-menu-layer__llink">
                                            <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light-brand v7-flex v7-i-svg v7-i-svg--xs v7-u-color-brand">
                                                <svg class="v7-i-svg__src">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-boarding-passes"></use>
                                                </svg>
                                            </i>

                                            <div>
                                                <h4 class="v7-sub-title v7-sub-title--sm">
                                                    <strong> Check-in y Tarjetas de embarque </strong>
                                                </h4>
                                                <p class="v7-menu-layer__p">
                                                    ¿Cómo puedo realizar el check-in on line? Realiza el check-in on line en 3 sencillos pasos, desde tu ordenador o tablet.
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="v7-menu-layer__litem v7-menu-layer__litem--atop || col-md-6">
                                        <a href="https://www.volotea.foundspot.com/es" title="Objetos olvidados a bordo" class=" v7-menu-layer__llink" target="&quot;_blank&quot;" rel="noopener">
                                            <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light-brand v7-flex v7-i-svg v7-i-svg--xs v7-u-color-brand">
                                                <svg class="v7-i-svg__src">
                                                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-search"></use>
                                                </svg>
                                            </i>

                                            <div>
                                                <h4 class="v7-sub-title v7-sub-title--sm">
                                                    <strong> Objetos olvidados a bordo </strong>
                                                </h4>
                                                <p class="v7-menu-layer__p">
                                                    Si has perdido algún artículo personal a bordo de nuestros aviones, excepto en vuelos con destino Palermo, Lille y Venecia dónde deberás contactar con aeropuerto, es posible que lo hayamos recuperado. Empieza la búsqueda completando el formulario...
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>

                                <div class="v7-menu-layer__more-help" style="">
                                    <div class="v7-menu-layer__stitle">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            ¿NO ENCUENTRAS LO QUE BUSCAS?
                                        </h3>
                                    </div>


                                    <a href="#open-chatbot" title="Pregúntanos por chat" class="v7-menu-layer__btn || v7-btn || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Pregúntanos por chat</a>
                                    <a href="/es/contacto/" title="Visita el centro de ayuda" class="v7-menu-layer__btn || v7-btn v7-btn--border v7-btn--secondary || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Visita el centro de ayuda</a>
                                </div>
                            </div>
                            <div class="v7-menu-layer__item v7-menu-layer__item--25">
                                <div class="v7-menu-layer__stitle || v7-flex">
                                    <h3 class="v7-strapline-title v7-strapline-title--sm">
                                        ACCIONES RELEVANTES
                                    </h3>
                                </div>
                                <ul class="v7-menu-layer__list v7-menu-layer__list--border">
                                    <li class="v7-menu-layer__litem">
                                        <a href="/es/estado-de-tu-vuelo/" class="v7-menu-layer__llink " title="Estado de tu vuelo">
                                            <i class="v7-i v7-i--departure v7-i--xxs || v7-u-color-brand"></i>
                                            <p class="v7-menu-layer__p">
                                                Estado de tu vuelo
                                            </p>
                                        </a>
                                    </li>
                                    <li class="v7-menu-layer__litem">
                                        <a href="/es/tu-reserva/reenviar-confirmacion/" class="v7-menu-layer__llink " title="Reenviar e-mail de confirmación">
                                            <i class="v7-i v7-i--curved-arrow v7-i--xxs || v7-u-color-brand"></i>
                                            <p class="v7-menu-layer__p">
                                                Reenviar e-mail de confirmación
                                            </p>
                                        </a>
                                    </li>
                                    <li class="v7-menu-layer__litem">
                                        <a href="/es/tu-reserva/gestionar-factura/" class="v7-menu-layer__llink " title="Solicitar factura de compra">
                                            <i class="v7-i v7-i--invoice v7-i--xxs || v7-u-color-brand"></i>
                                            <p class="v7-menu-layer__p">
                                                Solicitar factura de compra
                                            </p>
                                        </a>
                                    </li>
                                </ul>
                                <div class="v7-menu-layer__stitle || v7-u-mt-20 v7-flex" itemscope="" itemtype="http://schema.org/ServiceChannel">
                                    <h3 class="v7-strapline-title v7-strapline-title--sm">
                                        ATENCIÓN AL CLIENTE
                                    </h3>
                                </div>
                                <ul class="v7-menu-layer__list v7-menu-layer__list--legal" itemscope="" itemtype="http://schema.org/ServiceChannel">
                                    <li class="v7-menu-layer__litem">
                                        <a itemprop="serviceUrl" class="v7-link v7-link--sm" href="/es/condiciones-legales/condiciones-de-transporte/" title="Condiciones de transporte"><span itemprop="name providesService">Condiciones de transporte</span></a>
                                    </li>
                                    <li class="v7-menu-layer__litem">
                                        <a itemprop="serviceUrl" class="v7-link v7-link--sm" href="/es/tarifas/" title="Tabla de tarifas"><span itemprop="name providesService">Tabla de tarifas</span></a>
                                    </li>
                                    <li class="v7-menu-layer__litem">
                                        <a itemprop="serviceUrl" class="v7-link v7-link--sm" href="https://www.volotea.com/es/contacto/#como-puedo-ponerme-en-contacto-con-volotea--84" title="Contacto"><span itemprop="name providesService">Contacto</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </li>
            </ul>

            <ul class="v7-nav-top__list v7-nav-top__list--lang">
                <li class="v7-nav-top__item">
                    <span class="v7-nav-top__link v7-nav-top__link--lang || v7-link">
                        <i class="v7-nav-top__lang-icon || v7-i v7-i--lang-es v7-i--xxs"></i>
                        <i class="v7-nav-top__arrow || v7-i v7-i--down-arrow v7-i--xxxs"></i>
                    </span>
                    <div class="v7-nav-top__tooltip || v7-tooltip v7-tooltip--lang v7-tooltip--arrow-top v7-tooltip--arrow-right" itemscope="" itemtype="http://schema.org/ServiceChannel">
                        <ul class="v7-tooltip__list" itemprop="availableLanguage" itemscope="" itemtype="http://schema.org/Language">
                            <li class="v7-is-active">
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-es || v7-u-color-white"></i>
                                <a href="/es/contacto/" hreflang="es" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">Español </span></a>
                            </li>
                            <li>
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-en || v7-u-color-white"></i>
                                <a href="/en/contact/" hreflang="en" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">English </span></a>
                            </li>
                            <li>
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-it || v7-u-color-white"></i>
                                <a href="/it/contatti/" hreflang="it" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">Italiano </span></a>
                            </li>
                            <li>
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-fr || v7-u-color-white"></i>
                                <a href="/fr/contact/" hreflang="fr" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">Français </span></a>
                            </li>
                            <li>
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-de || v7-u-color-white"></i>
                                <a href="/de/kontakt/" hreflang="de" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">Deutsch </span></a>
                            </li>
                            <li>
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-el || v7-u-color-white"></i>
                                <a href="/el/contact/" hreflang="el" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">Ελληνικά </span></a>
                            </li>
                            <li>
                                <i class="v7-tooltip__icon || v7-i v7-i--lang-pt || v7-u-color-white"></i>
                                <a href="/pt/contacto/" hreflang="pt" itemprop="url sameAs mainEntityOfPage"><span itemprop="name">Português </span></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

        </nav>

        <header class="v7-menu v7-menu--tiny v7-menu--section || v7-menu--mobile" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
            <div class="v7-menu__inner || container">
                <button class="v7-menu__burger || v7-js-menu-open">
                    <span class="v7-btn-burger">
                        <span></span>
                    </span>
                </button>
                <button title="" class="v7-menu__return || v7-i v7-i--prev-arrow v7-i--xxs"></button>
                <h2 class="v7-menu__title">Contacto</h2>
                <a itemprop="url potentialAction mainEntityOfPage" href="/es/" title="VOLOTEA | Información y contacto sobre tus vuelos" class="v7-menu__logo">
                    <svg class="v7-svg-logo">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-logo"></use>
                    </svg>
                </a>
                <nav class="v7-menu__nav">
                    <ul class="v7-t v7-t--nav">
                        <li class="v7-t__item">
                            <a href="javascript:;" rel="nofollow" title="Vuelos" class="v7-menu__link v7-menu__link--layer || v7-t__link ">Vuelos</a>

                            <div class="v7-menu-layer v7-menu-layer--vuelos" id="js-menu-layer-vuelos">
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-aircraft-outline"></use>
                                            </svg>
                                        </i>

                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Ofertas de Vuelo</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        Vuela sin escalas y al mejor precio. En Volotea conectamos ciudades de toda Europa y lo hacemos con estilo propio. ¡Descúbrenos!
                                    </p>
                                    <a itemprop="url" href="/es/ofertas-vuelos/" title="Ver las mejores ofertas de vuelo" class="v7-menu-layer__btn v7-flex__bottom || v7-btn || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Ver las mejores ofertas de vuelo</a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            Y SI YA TIENES TU VUELO...
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list v7-menu-layer__list--border">
                                        <li class="v7-menu-layer__litem">
                                            <a href="https://hotels.volotea.com/?label=pagenavtab-link-942942-click" class="v7-menu-layer__llink " title="Reserva tu hotel" target="&quot;_blank&quot;" rel="noopener">
                                                <i class="v7-i v7-i--bed v7-i--xs || v7-u-color-brand"></i>
                                                <p class="v7-menu-layer__p">
                                                    Reserva tu hotel
                                                </p>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a href="https://coches.volotea.com/?adplat=servicestab&amp;adcamp=homepage&amp;preflang=es" class="v7-menu-layer__llink " title="Alquila un coche" target="&quot;_blank&quot;" rel="noopener">
                                                <i class="v7-i v7-i--car v7-i--xs || v7-u-color-brand"></i>
                                                <p class="v7-menu-layer__p">
                                                    Alquila un coche
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-checkin"></use>
                                            </svg>
                                        </i>

                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Estado de tu vuelo</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        Consulta el estado de tu vuelo Volotea en tiempo real. Toda la información a tu alcance en todo momento, suscríbete y sigue en vivo la ruta de tu vuelo.
                                    </p>
                                    <a itemprop="url" href="/es/estado-de-tu-vuelo/" title="Ver el estado de tu vuelo" class="v7-menu-layer__btn v7-flex__bottom || v7-btn v7-btn--border v7-btn--secondary || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Ver el estado de tu vuelo</a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            RESERVAS ESPECIALES
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list">
                                        <li class="v7-menu-layer__litem">

                                            <a href="https://groups.volotea.com/index.php?culture=es-es" rel="nofollow" target="&quot;_blank&quot;" class="v7-menu-layer__llink ">
                                                <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light v7-i-svg v7-i-svg--xs v7-flex">
                                                    <svg class="v7-i-svg__src">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-groups"></use>
                                                    </svg>
                                                </i>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Grupos
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Tarifas especiales a partir de 10 pasajeros.
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">

                                            <a href="/es/agencias/" rel="nofollow" class="v7-menu-layer__llink ">
                                                <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light v7-i-svg v7-i-svg--xs v7-flex">
                                                    <svg class="v7-i-svg__src">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-travel-documents"></use>
                                                    </svg>
                                                </i>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Agencias de viaje
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Tarifas bajas y atención personalizada para agencias.
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="v7-t__item">
                            <a href="javascript:;" rel="nofollow" title="Tu Reserva" class="v7-menu__link v7-menu__link--layer || v7-t__link ">Tu Reserva</a>
                            <div class="v7-menu-layer v7-menu-layer--tu reserva" id="js-menu-layer-tu reserva">
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-boarding-passes"></use>
                                            </svg>
                                        </i>

                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Check-in online</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        Realiza el check-in online. Solo necesitas el número de confirmación de tu reserva y el apellido o e-mail de contacto.
                                    </p>
                                    <a itemprop="url" href="/es/tu-reserva/check-in-online/" title="Obtén tus tarjetas de embarque" class="v7-menu-layer__btn v7-flex__bottom || v7-btn || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Obtén tus tarjetas de embarque</a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            ¿YA LO TIENES TODO?
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list v7-menu-layer__list--border">
                                        <li class="v7-menu-layer__litem">
                                            <a href="/es/tu-reserva/asignar-asientos/" class="v7-menu-layer__llink " title="Elige tu asiento">
                                                <i class="v7-i v7-i--seat v7-i--xs || v7-u-color-brand"></i>
                                                <p class="v7-menu-layer__p">
                                                    Elige tu asiento
                                                </p>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a href="/es/tu-reserva/embarque-prioritario/" class="v7-menu-layer__llink " title="Embarque prioritario">
                                                <i class="v7-i v7-i--priority-boarding v7-i--xs || v7-u-color-brand"></i>
                                                <p class="v7-menu-layer__p">
                                                    Embarque prioritario
                                                </p>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a href="/es/tu-reserva/anadir-equipaje/" class="v7-menu-layer__llink " title="Añadir equipaje">
                                                <i class="v7-i v7-i--suitcase v7-i--xs || v7-u-color-brand"></i>
                                                <p class="v7-menu-layer__p">
                                                    Añadir equipaje
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-luggage-checkin"></use>
                                            </svg>
                                        </i>

                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Gestiona tu reserva</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        Descubre todos nuestros servicios en un solo clic. Es sencillo, introduce tu número de confirmación de reseva y tu apellido o tu email de contacto.
                                    </p>
                                    <a itemprop="url" href="/es/tu-reserva/" title="Acceder a tu reserva" class="v7-menu-layer__btn v7-flex__bottom || v7-btn v7-btn--border v7-btn--secondary || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Acceder a tu reserva</a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            Y ADEMÁS DESTACAMOS...
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list">
                                        <li class="v7-menu-layer__litem">

                                            <a href="/es/informacion/" rel="nofollow" class="v7-menu-layer__llink ">
                                                <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light v7-i-svg v7-i-svg--xs v7-flex">
                                                    <svg class="v7-i-svg__src">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-information"></use>
                                                    </svg>
                                                </i>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Antes de viajar
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Todo lo que necesitas para empezar tu viaje
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">

                                            <a href="/es/equipaje/" rel="nofollow" class="v7-menu-layer__llink ">
                                                <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light v7-i-svg v7-i-svg--xs v7-flex">
                                                    <svg class="v7-i-svg__src">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-company"></use>
                                                    </svg>
                                                </i>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Política de equipaje
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Conoce nuestra política de equipaje. ¡Es importante!
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="v7-t__item">
                            <a href="javascript:;" rel="nofollow" title="Descubre" class="v7-menu__link v7-menu__link--layer || v7-t__link ">Descubre</a>
                            <div class="v7-menu-layer v7-menu-layer--descubre" id="js-menu-layer-descubre">
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title">
                                        <h2 class="v7-sub-title v7-sub-title--sm">
                                            <strong>Mapa de destinos y rutas</strong>
                                        </h2>
                                    </div>
                                    <a href="/es/destinos/" title="Mapa de destinos y rutas">
                                        <img class="v7-u-img" src="https://media.volotea.com/media/2260/es_map.png" alt="Mapa de destinos y rutas">
                                    </a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            NUESTROS SERVICIOS MÁS POPULARES
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list v7-menu-layer__list--border">
                                        <li class="v7-menu-layer__litem">
                                            <a class="v7-menu-layer__llink " href="/es/combo/" title="Combo">
                                                <i class="v7-i-vect v7-i-vect--xs v7-u-color-brand">
                                                    <svg class="v7-i-vect__svg | v7-svg-megavolotea">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-combo_plus"></use>
                                                    </svg>
                                                </i>
                                                <p class="v7-menu-layer__p">
                                                    Combo
                                                </p>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a class="v7-menu-layer__llink " href="/es/flex/" title="Flex">
                                                <i class="v7-i-vect v7-i-vect--xs v7-u-color-brand">
                                                    <svg class="v7-i-vect__svg | v7-svg-megavolotea">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-flex"></use>
                                                    </svg>
                                                </i>
                                                <p class="v7-menu-layer__p">
                                                    Flex
                                                </p>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a href="/es/entretenimiento-a-bordo/" class="v7-menu-layer__llink " title="Entretenimiento a bordo">
                                                <i class="v7-i v7-i--mobile v7-i--xs || v7-u-color-brand"></i>
                                                <p class="v7-menu-layer__p">
                                                    Entretenimiento a bordo
                                                </p>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a class="v7-menu-layer__llink " href="/es/mejor-precio/" title="Mejor precio">
                                                <i class="v7-i-vect v7-i-vect--xs v7-u-color-brand">
                                                    <svg class="v7-i-vect__svg | v7-svg-megavolotea">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-bpg"></use>
                                                    </svg>
                                                </i>
                                                <p class="v7-menu-layer__p">
                                                    Mejor precio
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-megavolotea"></use>
                                            </svg>
                                        </i>

                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Megavolotea</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        Por sólo 49.99€ al año ahorra en cada viaje, durante todo el año tienes acceso a tarifas más baratas, obtienes descuentos en asientos y maletas y mucho más. ¡Qué grande es ser Mega!
                                    </p>
                                    <a itemprop="url" href="/es/megavolotea/" title="Empieza a ahorrar ahora" class="v7-menu-layer__btn v7-flex__bottom || v7-btn || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Empieza a ahorrar ahora</a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            INSPÍRATE...
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list">
                                        <li class="v7-menu-layer__litem">

                                            <a href="https://volare.volotea.com/es" rel="nofollow" class="v7-menu-layer__llink " target="&quot;_blank&quot;">
                                                <span title="Volare Magazine" class="v7-avatar v7-avatar--md">
                                                    <span class="v7-avatar__text">Volare Magazine</span>
                                                    <span class="v7-avatar__img || v7-js-imagecover" data-image="https://static.volotea.com/assets/img/stations/zaz_4-3_sm.jpg" style="background-image: url(&quot;https://static.volotea.com/assets/img/stations/zaz_4-3_sm.jpg&quot;); background-size: cover; background-position: center center;"></span>
                                                </span>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Volare Magazine
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Descubre los mejores rincones de nuestros destinos
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">

                                            <a href="/es/nuestros-aviones/" rel="nofollow" class="v7-menu-layer__llink ">
                                                <span title="Volar con Volotea" class="v7-avatar v7-avatar--md">
                                                    <span class="v7-avatar__text">Volar con Volotea</span>
                                                    <span class="v7-avatar__img || v7-js-imagecover" data-image="https://media.volotea.com/media/2395/vol_aircraft_2x.png" style="background-image: url(&quot;https://media.volotea.com/media/2395/vol_aircraft_2x.png&quot;); background-size: cover; background-position: center center;"></span>
                                                </span>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Volar con Volotea
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        ¿Quieres ver nuestros aviones por dentro?
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="v7-t__item">
                            <a href="javascript:;" rel="nofollow" title="Volotea" class="v7-menu__link v7-menu__link--layer || v7-t__link v7-is-active">Volotea</a>
                            <div class="v7-menu-layer v7-menu-layer--volotea" id="js-menu-layer-volotea">
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title">
                                        <h2 class="v7-sub-title v7-sub-title--sm">
                                            <strong>Sobre nosotros</strong>
                                        </h2>
                                    </div>
                                    <a href="/es/sobre-volotea/" title="Sobre nosotros">
                                        <img class="v7-u-img" src="https://media.volotea.com/media/1370/volotea-employees.jpg" alt="Sobre nosotros">
                                    </a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__stitle || v7-flex">
                                        <h3 class="v7-strapline-title v7-strapline-title--sm">
                                            Y ADEMÁS...
                                        </h3>
                                    </div>
                                    <ul class="v7-menu-layer__list">
                                        <li class="v7-menu-layer__litem">

                                            <a href="/es/sala-de-prensa/" rel="nofollow" class="v7-menu-layer__llink ">
                                                <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light v7-i-svg v7-i-svg--xs v7-flex">
                                                    <svg class="v7-i-svg__src">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-invoice"></use>
                                                    </svg>
                                                </i>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Sala de prensa
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Nuestras últimas noticias, eventos y  ruedas de prensa.
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="v7-menu-layer__litem">
                                            <a href="/es/contacto/" rel="nofollow" class="v7-menu-layer__llink ">
                                                <i class="v7-btn-circle v7-btn-circle--md v7-btn-circle--light v7-i-svg v7-i-svg--xs v7-flex">
                                                    <svg class="v7-i-svg__src">
                                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-agent"></use>
                                                    </svg>
                                                </i>
                                                <div>
                                                    <h4>
                                                        <span class="v7-link">
                                                            Centro de ayuda
                                                        </span>
                                                    </h4>
                                                    <p class="v7-menu-layer__p">
                                                        Estamos a tu disposición para lo que necesites.
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-family"></use>
                                            </svg>
                                        </i>

                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Trabaja con nosotros</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        Forma parte de nuestro equipo. Buscamos personas para cubrir distintas posiciones en nuestra aerolínea tanto en nuestras oficinas como en nuestras bases.
                                    </p>
                                    <a itemprop="url" href="https://jobs.volotea.com/" title="Acceder a las ofertas de empleo" class="v7-menu-layer__btn v7-flex__bottom || v7-btn v7-btn--border v7-btn--secondary || v7-flex__item v7-flex__item--bottom v7-flex--block  " target="&quot;_blank&quot;" rel="noopener"> Acceder a las ofertas de empleo</a>
                                </div>
                                <div class="v7-menu-layer__item  " itemscope="" itemtype="http://schema.org/Service">
                                    <div class="v7-menu-layer__title v7-menu-layer__title--i">
                                        <i class="v7-i-svg v7-i-svg--sm  v7-u-color-brand">
                                            <svg class="v7-i-svg__src">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.volotea.com/assets/img/sprite.svg#svg-special-assistance"></use>
                                            </svg>
                                        </i>
                                        <h2 itemprop="name category offers serviceOutput" class="v7-sub-title v7-sub-title--sm">
                                            <strong>Tu opinión cuenta</strong>
                                        </h2>
                                    </div>
                                    <p itemprop="description" class="v7-menu-layer__p || v7-u-mb-20">
                                        La mayoría de nuestros pasajeros nos recomienda a sus familiares y amigos. Entérate de lo que dicen sobre nosotros, y si ya nos conoces, ¡Ayúdanos a mejorar!
                                    </p>
                                    <a itemprop="url" href="/es/muy-recomendada/" title="Ver opiniones sobre Volotea" class="v7-menu-layer__btn v7-flex__bottom || v7-btn || v7-flex__item v7-flex__item--bottom v7-flex--block  "> Ver opiniones sobre Volotea</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div id="megamenu-block-overlay"></div>
                </nav>
                <div class="v7-menu__right">
                    <login-register-wrapper ng-version="13.3.11"><volotea-login-menu><div class="v7-btn-logged || v7-menu__link--layer"><span class="v7-btn-logged__text">Maikel TP</span><volotea-login-avatar><span class="v7-btn-logged__avatar v7-avatar v7-avatar--sm"><span class="v7-avatar__img" style="background-size: cover; background-position: center center; background-image: url(&quot;https://graph.facebook.com/1162631097465926/picture?width=200&amp;height=200&quot;);"></span><!----><!----><!----></span></volotea-login-avatar><div class="v7-menu-layer v7-menu-layer--user v7-u-ztop"><div class="v7-menu-layer__item || v7-u-pb-15"><div class="v7-menu-layer__title"><h2 class="v7-sub-title v7-sub-title--sm"><strong>Maikel TP</strong><br><span class="v7-small-text">mikeltp89@gmail.com</span><!----></h2></div><ul class="v7-menu-layer__list v7-menu-layer__list--border v7-u-cursor-pointer"><li class="v7-menu-layer__litem"><a class="v7-menu-layer__llink"><app-icon class="v7-i-svg v7-i-svg--xxs v7-u-color-brand"><svg class="v7-i-svg__src"><use xmlns="http://www.w3.org/1999/xlink" xlink:href="#svg-profile"></use></svg></app-icon><p class="v7-menu-layer__p">Tu perfil</p></a></li><li class="v7-menu-layer__litem v7-menu-layer__litem--atop"><a class="v7-menu-layer__llink"><app-icon class="v7-i-svg v7-i-svg--xxs v7-u-color-brand"><svg class="v7-i-svg__src"><use xmlns="http://www.w3.org/1999/xlink" xlink:href="#svg-departure"></use></svg></app-icon><p class="v7-menu-layer__p">Tus viajes<!----><!----></p></a></li></ul><div class="v7-menu-layer__exit"><p class="v7-small-text || v7-flex__right || v7-flex"> Cerrar sesión <app-icon class="v7-i-svg v7-i-svg--xxs"><svg class="v7-i-svg__src"><use xmlns="http://www.w3.org/1999/xlink" xlink:href="#svg-exit"></use></svg></app-icon></p></div></div></div></div><!----><!----></volotea-login-menu><volotea-login-register-modal class="on-top"><!----><!----><!----><!----><volotea-spinner-success><!----></volotea-spinner-success></volotea-login-register-modal></login-register-wrapper>
                </div>
            </div>
        </header>
    </div>
</div>
